body, html { height: 100%;}
        
        .bg { background-image:url(../img/Background.jpg); 
              height: 100%;
              background-position: center;
              background-repeat: no-repeat;
              background-attachment:scroll; }
        
        
        .container-fluid{ height:auto;
                          background-image:url('../img/Background.jpg'); 
                          background-attachment:fixed;
                          background-position: center;}
        
        .navbar-default{ border:none; 
                         background-color:rgba(0,0,0,0.0); 
                         height:90px; 
                         width:100%;}
        
        .navbar-default .navbar-nav li a { color:rgba(255,255,255,0.9);
                                           line-height:15px;
                                           font-size:11px;}
        
        .navbar-default .navbar-nav li a:hover{ color:rgba(250,240,230,0.6);}
        
        .navbar-default .navbar-header .navbar-brand{ color:rgba(255,255,255,0.9); 
                                                      font-size:20px;}
        
        .navbar-brand table tr td{ font-size:8px;
                                   font-weight:bold;
                                   text-align:center;
                                   font-family:Playfair Display;}
        
        .navbar-brand table tr td p{ font-family:Playfair Display;
                                     font-size:40px;
                                     font-weight:normal;}
        
        ul li{ font-family:Playfair Display;} 
        
        .dropdown{ display:inline-block;}
        
        .dropdown-content{ display:none;
                           background-color:transparent;}
        
        .dropdown-content a{ text-align:right;
                             color:rgba(250,250,250,0.9);
                             padding:7px;
                             margin-left:-60px;
                             text-decoration:none;
                             display:block;}
        
        .dropdown:hover .dropdown-content{ display: block;}
        
        .para{font-family:Playfair Display;  color:rgba(255,255,225,0.9); margin-top:15%; font-size:50px;  text-align:center; height:100%;}

         .btn
             {  color:rgba(255,255,255,0.9); 
                font-size:11px; 
                font-family:Playfair Display;  
                border:none; 
                background:rgba(0,0,0,0);
                margin-top:-6px;
                margin-left:-10px;}
                 
             .btn:hover{color:rgba(250,240,230,0.6);}
            